<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\jQueryMobile.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=jQueryMobile;User ID=jQueryMobile;Password=Password2012;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dh5glplz3n.database.windows.net;Initial Catalog=jQueryMobile;User ID=jQueryMobile;Password=Password2012;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cabf0f67-50fb-47f7-a9b7-a095016f55b7.sqlserver.sequelizer.com;Initial Catalog=dbcabf0f6750fb47f7a9b7a095016f55b7;User ID=inoydjqwwjqzlktz;Password=fPtF7NSefqcwtBmuC6Jch3t3kDSMFTUpRFbfgn6MUC2YsqGyjsBCXRVkvzvB4eEt;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="AppDebug" value="True" />-->
    <add key="AppDebug" value="False" />
    <!--Gmail server has a bug that does not allow send to address from the same address in this case send through an open mail relay-->
    <add key="SMTPRelayHost" value="s2smtpout.secureserver.net" />
    <add key="SMTPRelayPort" value="25" />
    <add key="SMTPRelayEnableSsl" value="false" />
    <!--MDELGERT LOCAL FBTEST-->
    <!--<add key="FacebookAppID" value="271638566246599"/>
    <add key="FacebookSecret" value="3095269b734d7f33f6a111a7f496e464"/>-->
    <!--VESSEA FBTEST-->
    <!--<add key="FacebookAppID" value="317863131600944" />
    <add key="FacebookSecret" value="721383c92096495a19d0cde514da1d84" />-->
    <!-- PayPal Developer    -->
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <!-- PayPal Production   -->
    <!--<add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr" />-->
    <add key="PayPalBusiness" value="seller_1332311701_biz@hotmail.com" />
    <add key="ContentFileDB" value="/ContentFileDB.ashx" />
    <!--DEFAULT TELERIK SKINS - Black, Default, Forest, Hay, Metro, Office2007, Office2010Black, Office2010Blue, Office2010Silver, Outlook, Simple, Sitefinity, Sunset, Telerik, Transparent, Vista, Web20, WebBlue, Windows7-->
    <add key="PASSPHRASESALT" value="qhu486b9W8SbkxYufkjZheFBtdE3FtbTfjMDGaGK" />
    <add key="Telerik.Skin" value="Windows7" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@vessea.com">
        <network host="smtp.gmail.com" port="587" userName="info@vessea.com" password="Password" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="EntitiesContext" applicationName="jQuery Mobile Web" />
    <errorFilter>
      <test>
        <and>
          <equal binding="HttpStatusCode" value="404" type="Int32" />
        </and>
      </test>
    </errorFilter>
  </elmah>
  <location path="~/Requests.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/XSLT">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <pages clientIDMode="Static">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="cntl" src="~/Controls/Scripts.ascx" tagName="Scripts" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="*" path="sitemap.xml" type="BLL.SiteMap, BLL" validate="false" />
      <add verb="*" path="robots.txt" type="BLL.Robots, BLL" validate="false" />
      <add verb="*" path="qrcode.jpg" type="BLL.QRCode, BLL" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <remove name="RadCompression" />
      <add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" preCondition="managedHandler" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add name="Sitemap" verb="*" path="sitemap.xml" type="BLL.SiteMap, BLL" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="Robots" verb="*" path="robots.txt" type="BLL.Robots, BLL" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="QRCode" verb="*" path="qrcode.jpg" type="BLL.QRCode, BLL" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>