<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\jQueryMobile.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=jQueryMobile;User ID=jQueryMobile;Password=Password2012;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dh5glplz3n.database.windows.net;Initial Catalog=jQueryMobile;User ID=jQueryMobile;Password=Password2012;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cabf0f67-50fb-47f7-a9b7-a095016f55b7.sqlserver.sequelizer.com;Initial Catalog=dbcabf0f6750fb47f7a9b7a095016f55b7;User ID=inoydjqwwjqzlktz;Password=fPtF7NSefqcwtBmuC6Jch3t3kDSMFTUpRFbfgn6MUC2YsqGyjsBCXRVkvzvB4eEt;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="EntitiesContext" applicationName="MSTestProject"/>
  </elmah>
  <appSettings>
    <add key="PortalID" value="1" />
    <add key="PASSPHRASESALT" value="qhu486b9W8SbkxYufkjZheFBtdE3FtbTfjMDGaGK" />
  </appSettings>
</configuration>