<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=jQueryMobile;User ID=jQueryMobile;Password=Password2012;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>